@font-face {
    font-family: Odin-font;
    src: url(Assets/Fonts/Norse-Bold.woff);
}

@font-face {
    font-family: Mont;
    src: url(Assets/Fonts/Montserrat-Regular.woff);
}

html {
    height:100%;
    width:100%;
}

body {
    display:grid;
    grid-template-columns: 1fr 3fr;
    margin: 0px;
    padding: 0px;
    background-image: url(Assets/Photos/Puppybackground.webp);
    background-size: 1500px;
    background-origin: border-box;
    background-position: -340px 0;
    height: 100%;
}

.PictureSubSection {
    height:100%;
    display: flex;
    align-items: center;
}

.BlackBarCaption {
    display: flex;
    background-color: rgba(0,0,0,.7);
    height: 160px;
    width: 100%;
    margin-top: -380px;
    justify-content: center;
    align-items: center;
}

#CaptionText {
    color:white;
    font-family: Odin-font;
    font-size: 80px;
}

.WhiteSpace
{
    display: flex;
    background-color: whitesmoke;
    height:100%;
    flex-direction: column;
}

.LoginArea {
    background-color: white;
    height: 300px;
    width: 100%;
    margin-top: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: Mont;
}

#LoginForm {
    display:grid;
    grid-template-columns: repeat(2,256px);
    height: 100%;
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
}

.InputColumns {
    display: flex;
    flex-direction: column;
    margin-left:50px;
    align-content: center;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(124, 124, 124, .3);
    width: 250px;
    padding-bottom: 10px;
}

#EnterButton {
    width: 250px;
    height: 50px;
    font-family: mont;
    color: white;
    background-color:rgb(255, 183, 96);
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-weight: 800;
}

.WelcomeMSG {
    font-family: mont;
    font-size: 30px;
    margin-top: 250px;
    margin-left: 20px;
}